* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 20px auto;
  background-color: antiquewhite;
}

.ant {
  position: absolute;
  border-radius: 50%;
  background: url(./images/ant-image.png);
  background-size: cover;
}
.blood {
  position: absolute;
  background-image: url(./images/blood.png);
  background-size: contain;
  width: 40px;
  height: 40px;
}
p {
  color: black;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 350px;
    height: 350px;
  }
}
